/*=====================================
        MIXINS 
======================================*/

//Center items
@mixin center {
  margin: 0 auto;
}

//Create Flex Row
@mixin flex-row {
  display: $flex-dsp;
  flex-direction: row;
}

//Create Flex Columns
@mixin flex-col {
  display: $flex-dsp;
  flex-direction: column;
}
