/*=====================================
        VARIABLES
======================================*/

// Colors
$black: #000;
$white: #fff;
$btnOutlineClr: #FF9602;
$btnInnerClr: #979086;

// Flex Display
$flex-dsp: flex;