/*=====================================
        FLEXBOX 
======================================*/



// .numberField
.button-cntr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  max-width: 325px;
  gap: 10px;
  //CLR btn
  & :nth-child(1) {
    order: 1;
  }
  //backspace btn
  & :nth-child(2) {
    order: 3;
  }
  //add btn
  & :nth-child(3) {
    order: 8;
  }
  // minus btn
  & :nth-child(4) {
    order: 12;
  }
  //divide btn
  & :nth-child(5) {
    order: 16;
  }
  // multiply btn
  & :nth-child(6) {
    order: 20;
  }
  //percent btn
  & :nth-child(7) {
    order: 2;
  }
  //sum btn
  & :nth-child(8) {
    order: 4;
  }
  // #9 btn
  & :nth-child(9) {
    order: 5;
  }
  // #8 btn
  & :nth-child(10) {
    order: 6;
  }
  // #7 btn
  & :nth-child(11) {
    order: 7;
  }
  // #6 btn
  & :nth-child(12) {
    order: 9;
  }
  // #5 btn
  & :nth-child(13) {
    order: 10;
  }
  // #4 btn
  & :nth-child(14) {
    order: 11;
  }
  // #3 btn
  & :nth-child(15) {
    order: 13;
  }
  // #2 btn
  & :nth-child(16) {
    order: 14;
  }
  // #1 btn
  & :nth-child(17) {
    order: 15;
  }
  // #0 btn
  & :nth-child(18) {
    order: 17;
  }
  // "." btn
  & :nth-child(19) {
    order: 18;
  }
  // +/- btn
  & :nth-child(20) {
    order: 16;
  }
}
