/*=====================================
        Grid Layout
======================================*/

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  @include center;
}