/*=====================================
        Grid Layout
======================================*/

.grid-body {
  @include center;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
}
