/*=====================================
        Main Layout
======================================*/

h1 {
  text-align: center;
  color: $btnOutlineClr;
}

body {
  background-color: $black;
}

main {
  @include center;
  width: 70%;
  min-width: 325px;
  border: 2px $btnOutlineClr solid;
  box-shadow: 0 0 30px $btnOutlineClr;
  border-radius: 10px;
  & p {
    color: $white;
    text-align: center;
  }
}

.calcuDisp {
  width: 90%;
  @include center;
  & p {
    border-bottom: 2px $btnOutlineClr solid;
    font-size: 2em;
    text-align: right;
    height: 2.5em;
    & p ::placeholder {
      opacity: .5;
    }
  }
}
