/*=====================================
        Main Layout
======================================*/

h1 {
  text-align: center;
}

main {
  @include center;
  width: 70%;
  border: 1px solid $black;
  border-radius: 10px;
  & p {
    border: $black 1px solid;
    border-radius: 10px;
    text-align: center;
    padding: .5em;
  }
}

.calcuDisp {
  width: 70%;
  @include center;
  & p {
    font-size: 1.5em;
    text-align: right;
    border-radius: 10px;
    height: 2.5em;
    & p ::placeholder {
      opacity: .5;
    }
  }
}

.button-cntr {
  width: 70%;
  @include center;
}

.numberField,
.componentField {
  max-width: 300px;
  & p,
  & p {
    // width: 70px;
    width: 30px;
    display: inline-block;
  }
}

.numberField {
  & p {
    max-height: 50px;
  }
}

.componentField {
  & :last-child {
    background-color: white;
  }
  & :nth-of-type(1n+3) {
    background-color: red;
  }
}