/*=====================================
        BASE STYLES
======================================*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Shantell Sans', cursive;
}

ul,
nav {
  list-style-type: none;
}